ul {
  list-style-type: none;
  margin: 0px;
  text-align: center;
  padding: 20px;
  font-size: 25px;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f47c7c;
}
li {
    display : inline;
    margin-right: 30px;
    padding: 10px;    

}